<center>
    <table border="1">
            <tr>
                <td>id号</td>
                <td>商品名称</td>
                <td>商品描述</td>
                <td>商品所属地</td>
                <td>商品价格</td>
                <td>商品添加人</td>
                <td>商品状态</td>
                <td>操作</td>
            </tr>
        <volist name="arr" id="val">
            <tr>
                <td>{$val.u_id}</td>
                <td>{$val.g_name}</td>
                <td>{$val.g_self}</td>
                <td>{$val.g_source}</td>
                <td>{$val.g_price}</td>
                <td>{$val.g_username}</td>
                <td>
                    <if condition="$val.g_statue eq 0 ">保存</if>
                    <if condition="$val.g_statue eq 1 ">通过</if>
                    <if condition="$val.g_statue eq 2 ">未通过</if>
                </td>
                <td>
                    <if condition="$val.g_statue eq 0">
                        <a href="__URL__/update/id/{$val.u_id}">通过</a>
                        <a href="__URL__/update1/id/{$val.u_id}">未通过</a>
                        <else/>修改成功
                    </if>
                </td>
            </tr>
        </volist>
        </table>
    </form>
</center>